<!-- Form Layout -->
<div class="card">
  <div class="card-body">
    <div class="mb-56">
      <h4 class="mb-56 d-inline" *ngIf="isAdd">Add Package</h4>
      <h4 class="mb-56 d-inline" *ngIf="!isAdd">Edit Package</h4>
      <div class="button-row mb-24 d-inline float-right">
        <button
          *ngIf="isAdd"
          mat-raised-button
          class="me-8 mb-8"
          [routerLink]="['../packages']"
          color="primary"
        >
          Package List
        </button>
        <button
          *ngIf="!isAdd"
          mat-raised-button
          class="me-8 mb-8"
          [routerLink]="['../../packages']"
          color="primary"
        >
          Package List
        </button>
      </div>
    </div>
    <form [formGroup]="packageForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="package"
          placeholder="Enter your Package Name"
        />
        <mat-error>Package Name can not be empty.</mat-error>
      </mat-form-field>

      <button
        *ngIf="isAdd"
        mat-button
        class="btn btn-info fw-normal"
        [disabled]="!packageForm.valid"
        type="submit"
      >
        Submit
      </button>
      <button
        *ngIf="!isAdd"
        mat-button
        class="btn btn-info fw-normal"
        [disabled]="!packageForm.valid"
        type="button"
        (click)="onEdit()"
      >
        Edit
      </button>
    </form>
  </div>
</div>
